.header {
    text-decoration: none;
    color: inherit;
}

.header:hover {
    animation: gradient 2s;
}

@keyframes gradient {
    0% {
        color: #F0FFF9;
    }

    50% {
        color: #1fe294;
    }

    100% {
        color: #F0FFF9;
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: fixed;
    top: 0px;
    left: 10%;
    margin-left: 5rem;
    max-width: 20%;
    z-index: 100;
    padding: 15% 0px;
    height: 100%;
}

.lead {
    font-family: 'Soliden Trial';
    font-weight: normal;
    font-size: 48px;
    margin-bottom: 2rem;
}

.intro {
    font-family: 'Soliden Trial';
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 2rem;
}

/* the icon color is #F0FFF9 */
.icons {
    display: grid;
    grid-template-columns: 32px 32px 32px 32px;
    column-gap: 14px;
    margin-left: -4px;
    margin-bottom: 16%;

}

.icons a {
    text-decoration: none;

}

.icons img {
    margin-top: 0px;
    opacity: 0.5;
    transition: 0.3s;
}

.icons img:hover {
    opacity: 1;
}



.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Inconsolata;
    font-weight: 700;
    font-size: 18px;
    color: #3EBB8E;
    padding-bottom: 20px;
    flex: 1;
    max-height: 100px;
}

.navigation a {
    /* margin-bottom: 27px; */
    text-decoration: none;
    color: inherit;
    width: fit-content;
    transition: text-shadow 0.15s, color 0.15s;
}

.about-button:hover,
.projects-button:hover,
.art-button:hover {
    text-shadow: 0px 0px 15px #00e55c71;
    color: #67ffac;
}

.divider {
    position: fixed;
    left: 770px;
    top: 0;
    bottom: 0;
    width: 950px;

    border-left-style: solid;
    border-left-width: 1px;
    box-shadow: -40px 0 60px -30px rgba(255, 255, 255, 0.1);
}